*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  display: block;
  width: 100%;
  margin: auto;
  min-height: 100vh;
}
.dark-theme{
  background-color: #000;
  color: #fff;
}
.render{
  display: flex;
  width: 80%;
  margin: auto;
  height: 100%;
}
.apps{
  margin: 0 10px;
  height: 10vh;
}
@media only screen and (max-width : 1008px){
  .body{
    background: #000;
  }
  .apps{
    margin-bottom: 10em;
  }
  .App{
    display:block !important;
    color: hotpink;
  }
}
.dark body{
  background: #000;
}